<p>
  <b>From github login:</b>
  <%=h @message.from_github_login %>
</p>

<p>
  <b>Sent at:</b>
  <%=h @message.sent_at %>
</p>

<p>
  <b>Message:</b>
  <%=h @message.message %>
</p>

<p>
  <b>Github:</b>
  <%=h @message.github_id %>
</p>


<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>