.list
  %div{ :style => "float: right;" }
    = will_paginate @messages

  %h1 Inbox

  - if flash[:notice]
    .notification
      = flash[:notice]

  - unless @messages.blank?
    != render :partial => 'messages'
  - else
    .generate
      = link_to 'Generate lots of random messages', seed_inbox_path

  %div{ :style => "float: right;" }
    = will_paginate @messages
