%h1 Inbox
- for message in @messages
  .item.message{ :class => (message.unread? ? "unread" : "") }
    .body
      .del
        %a{ :href => "#", :title => "delete thread", :rel => "/inbox/#{message.github_message_number}" }
          %img{ :src => "/images/delete.png", :alt => "delete" }
      .title
        %a{ :href => "http://github.com/#{message.from_github_login}" }
          = message.from_github_login
        sent you a
        %span message
        = time_ago_in_words message.sent_at
        ago
      .details
        .gravatar
          %img{ :src => "/images/blank_gravatar.png", :height => "30", :alt => "", :width => "30" }
        .message
          %p
            %a.subject{ :href => "http://github.com/inbox/#{message.github_message_number}#reply" }
          %p
            %a.body{ :href => "http://github.com/inbox/#{message.github_message_number}#reply" }
              = message.message
%div{ :style => "float: right;" }
  .pagination
    %span.disabled
      « Previous
    %a{ :hotkey => "l", :href => "http://github.com/inbox?page=2" }
      Next »
