!!!
%html{ :contentxpath => "//div[contains(@class, &quot;news&quot;)]/div[contains(@class, &quot;alert&quot;)]", :enablejs => "true", :fixoverflow => "false", :autopagersettingowner => "ku", "xml:lang" => "en", :lang => "en", :linkxpath => "//a[@hotkey=&quot;l&quot;]", :autopagerversion => "0.5.3.5", :autopagerajax => "false", :autopagerneedmouseevent => "false", :xmlns => "http://www.w3.org/1999/xhtml", :containerxpath => "" }
  %head
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "content-type" }
    %meta{ :content => "chrome=1", "http-equiv" => "X-UA-Compatible" }
    %title
      Your Inbox - GitHub
    %link{ :href => "/stylesheets/bundle.css", :rel => "stylesheet", :type => "text/css", :media => "screen" }
    %link{ :href => "/stylesheets/form.css", :rel => "stylesheet", :type => "text/css", :media => "screen" }
    %link{ :href => "/stylesheets/inbox.css", :rel => "stylesheet", :type => "text/css", :media => "screen" }
    %script{ :src => "/javascripts/jquery.js", :type => "text/javascript" }
    %script{ :type => "text/javascript", :src => "/javascripts/bundle.js" }
    %script{ :type => "text/javascript" }
      github_user = 'drnic'
    = yield(:head)
  %body
    #main
      #header.basic
        .site
          .logo
            %a{ :href => "/" }
              %img{ :src => "/images/logov3.png", :alt => "github" }
          .userbox
            .inner
              .avatarname
                %a{ :href => "/" }
                  %img{ :src => "/images/blank_gravatar.png", :height => "20", :alt => "", :width => "20" }
                %a.name{ :href => "/" }
                  = current_user.login
              %ul.usernav
                %li
                  %a{ :href => "/" }
                    Dashboard
                %li
                  %a{ :href => "/inbox" }
                    Inbox
                  %a.unread_count.new_messages{ :href => "/inbox" }
                    = Message.unread.inbox_for(current_user.login).count
                %li
                  %a{ :href => "/" }
                    Account Settings
                %li
                  %a{ :href => "/logout" }
                    Log Out
      .site
        #inbox
          .actions
            .compose
              %p
                %a{ :href => "/inbox/new" }
                  %img{ :src => "/images/message.png", :alt => "compose" }
                  %span
                    Compose Message
            .boxes
              %ul
                %li
                  %a.new{ :href => "/inbox" }= "Inbox (#{Message.unread.inbox_for(current_user.login).count})"
                %li
                  %a{ :href => "/inbox/sent" }
                    Sent Messages
                %li
                  = button_to "Delete all messages", delete_messages_inbox_path
          = yield
      .push
